/* This is a CSS comment */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* header and body settings*/
/* Select the body element and set its background color and font properties */
body {
    background-color: #ecd4e0c5; /* Light grey background */
    font-family:'Bebas Neue', sans-serif; /* Set the font to Arial */
    color: #333333; /* Dark grey text color */
}
/* for title box*/
.lava-box{
    position: relative; /* Set the font size to 50 pixels */
    display: flex;  
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background: #edafb7;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px #ea808e;

    /* centering box on website */
    margin: 40px auto;
    text-align: center;
}
/*title*/
.lava-title{
    font-size: 50px; /* Set the font size to 50 pixels */
    font-weight: bold;
    color: #434343;
    position: relative;
    z-index: 2; /* Ensures text stays on top of the background */
    
    text-shadow: 2px 2px 2px #edafb7;
}
/* Select all p elements and set their margin and line height */
.p {
    margin: 20px; /* Add space around the paragraph */
    line-height: 1.6; /* Set the line height for better readability */
}
/* Select elements with the class 'highlight' and set their background color */
.highlight {
    background-color: #000000; /* Light yellow background */
}
/* Select elements with the id 'main' and set their padding */
#main {
    padding: 20px; /* Add padding inside the element */
}

/* links for each side*/
.nav-box{
    display: flex;
    justify-content: space-around;
}
.a-Home,
.a-Menu,
.a-Music,
.a-Jobs{
    color : #434343; /* Dark grey text color */
    background-color: #fbbdd1b3;
    padding: 5px 50px; /* Add padding inside the element */
    border-radius: 20px;
}


/* index.html (home) settings*/
/* color for standard display boxes*/
.home-list, 
.coffeeAnimation-box,
.menu-outerBox{
    background-color: #fbbdd1b3;
}

/* for index.html text and animation outerbox*/
.home-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* list from index.html*/
.home-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border-radius: 20px;
    height: 200px;
    width: 200px;

}
/*gif box*/
.coffeeAnimation-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;

}

/*gif itself*/
.coffeeAnimation-box img{
    width: 100%;
    height: auto;
    object-fit: contain; /* scale image to fit the container */
    display: block; /* remove extra space below image */
    
}

.menu-outerBox{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;;
    padding: 20px;
    background-color: #edafb7;

}
.line-through{
    background-color: #000000; /* Light yellow background */
    width: 400px;
    height: 4px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #facfd5;
    
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}


/* footer starts from here.*/
.footerText-box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edafb7;
    border-radius: 20px;
    overflow: hidden;
    
    box-shadow: 0 0 20px #ea808e;
}

.leftSide-box1 {
    text-align: left;
    height: fit-content;
    padding-left: 20px;
}
.rightSide-box1 {
    height: fit-content;
    text-align: fit-content right;
    padding-right: 20px;
    font-size: 13px;
}






